
body, h1, h2, p {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: black;
    background-image: url('portfolioBackground.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    color: #333; 
}


.about-content {
    flex: 1; 
    margin-left: 200px; 
}
.about-content p {
    margin-bottom: 1em;
}
.context p{
    margin-bottom: 1em;
}
.portfolio-item3 p{
    margin-bottom: 1em;
}
.contactme p{
    margin-bottom: 1em;
}
.container_about{
    display: flex;
    max-width: 1300px;
    margin:  0 auto;
    padding: 10px;
    color: white;
}

.profile-picture {
    
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    overflow: hidden; 
    box-shadow: 0px 0px 10px rgba(255, 0, 255, 0.8); 
}

.profile-picture img {
    max-width: 100%;   
    display: block;
}
.company-picture {
    margin-top: 50px;
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    overflow: hidden; 
    box-shadow: 0px 0px 10px rgba(255, 0, 255, 0.8); 
}

.company-picture img {
    max-width: 100%;   
    display: block;
}
.uni-picture{
    margin-top: 30px;
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(255, 0, 255, 0.8);
}
.uni-picture img{
    max-width: 100%;
    display: block;
}

.section p {
    font-size: 18px;
}


.aboutme{
    padding: 20px;
    margin: 0 auto;
    max-width: 1250px;
}
.project{
    padding: 5px;
    margin-left: 100px;
    
    max-width: 1250px;
}

.container {
    margin-left: 20px;
    margin: 0 auto;
    padding: 10px;
    color: white;
}
.container1{
    margin-left: 130px;
}
.resume-link{
    text-align: center;
    margin-left: 150px;
}
.certificate-link{
    text-align: left;
    margin-left: 130px;
}
.certificate-link a{
    display: inline-block;
    padding: 10px 40px;
    background-color: lightslategray;
    border-radius: 30px;
    color: black;
    text-decoration: none;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}
.certificate-link a:hover {
    background-color: lightcyan;
}
.companyname h3{
    font-size: 2rem;
    color: bisque;
}

.resume-link a {
    display: inline-block;
    padding: 10px 40px;
    background-color: slategrey;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s ease;


}

.resume-link a:hover {
    background-color: darkred;
}



header {
    background-color: rgba(0, 0, 0, 0.8); 
    color: #fff; 
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease; 
    
    /* Box shadow */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
    border-bottom: 1px solid #333; 
}

header h1 {
    font-size: 2.5rem;
    margin-left: 20px;
    color: white;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease; 
}

nav ul li a:hover {
    color: #ff9900; 
}


.section {
    color: #fff;
    padding: 100px 0; 
    
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(255,255,255,0.8); 
    margin-bottom: 40px;

}

.section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 30px;
    color: white; 
}


.portfolio-item1 {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex; 
    align-items: center; 
}
.portfolio-item2 {
    margin-left: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.portfolio-item3 {
    margin-top: 50px;
   
    display: flex; 
    align-items: center; 
}
.text-content2 {
    flex: 1;
    margin-right: 10px;
    margin-left: 30px;
}

.video-wrapper video {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 0, 255, 0.8);
    transition: transform 0.3s ease;
}

.video-wrapper {
    flex: 1; 
    margin-right: 20px; 
}


.portfolio-item1 video{
    width: 70%;
    height: 65%;
    margin-left: 60px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 0, 255, 0.8);
}
.portfolio-item2 video{
    display: flex;
    width: 70%;
    height: 60%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 0, 255, 0.8);
}
.portfolio-item3 video{
    width: 80%;
    height: 70%;
    margin-top: 30px;
    margin-left: 60px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 0, 255, 0.8);
}

.skill-category {
    display: inline-block;
    width: 20%; 
    margin-right: 5%; 
    vertical-align: top; 
}

.skill-category:last-child {
    margin-right: 0; 
}





footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 25px ;
}

.social-links{
    margin-bottom: 10px;
}
.social-links a {
    color: #fff;
    text-decoration: none;
    margin: 10px 15px;
    
}

.social-links a i {
    font-size: 1.5em;
}

.social-links a:hover {
    color: lightsteelblue;
}

.contact-button {
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: lightsteelblue;
    color: black;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s ease;


}

.contact-button:hover {
    background-color: darkolivegreen; 
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
        margin-left: 0;
    }
}
@media (max-width: 768px) {
    .aboutme {
        padding: 20px 0;
        text-align: center;
    }

    .profile-picture {
        margin: 0 auto;
    }

    .about-content {
        margin: 20px auto;
        font-size: 16px;
    }
}
@media (max-width: 768px) {
    .portfolio-item1 {
        flex-direction: column; 
        margin-top: 20px; 
    }
    .portfolio-item3 {
        flex-direction: column; 
        margin-top: 20px; 
    }
    .video-wrapper video {
        width: 100%; 
        margin: 0; 
    }

    .text-content {
        margin: 10px auto;
    }
    .text-content2{
        margin: 10px auto;
    }

    .portfolio-item2 video {
        width: 100%; 
        margin: 0 auto; 
    }
}
@media (max-width: 768px) {
    .contact-button {
        text-align: center;
        margin-left: 0;
        margin-top: 20px; 
    }
}

